body {
  font-family: sans-serif;
  font-size: 0.85em;
}
#leftpanel {
  float: left;
  height: 600px;
  width: 200px;
  overflow: auto;
}
#leftpanel h2, #gameroom h2 {
  height: 30px;
  margin: 0;
  padding: 0;
}
#users {
  height: 300px;
}
#userspanel {
  height: 270px;
  overflow: auto;
}
#challenges {
  height: 300px;
}
#challengespanel {
  height: 270px;
  overflow: auto;
}
#rightpanel {
  float: left;
  height: 600px;
  width: 500px;
  border-left: 2px solid black;
}
#chat {
  height: 580px;
  overflow: auto;
}
#chatinput {
  height: 20px;
}
#chatbox {
  width: 400px;
}
#chat ul, #users ul, #challenges ul, #gamechat ul {
  margin: 0;
  padding: 0;
}
#chat li, #users li, #challenges li, #gamechat li {
  list-style: none;
  margin: 3px 0 3px 0;
  padding: 5px;
  background: #eee;
}
#users li.me {
  background: #ddffdd;
}

#game {
  height: 600px;
  float: left;
}
#gamepanel {
  height: 600px;
  width: 200px;
  float: left;
}
#gamechat {
  height: 400px;
  overflow: auto;
}
#gamechatbox {
  height: 20px;
}
#gamechatinput {
  width: 200px;
}
#gamechatsubmit {
  display: none;
}
#gamebuttons {
  height: 20px;
}